#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  height: calc(100vh - 104px);
  overflow-x: hidden;
  background-color: beige;
}

.error {
  display: flex;
  color: red;
  font-size: large;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loading {
  display: flex;
  color: blue;
  font-size: large;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
